[Unit]
Description=Watershed exhibit

[Service]
ExecStart=/home/pi/watershed/watershed.py config-bunker.py
WorkingDirectory=/home/pi/watershed
KillSignal=SIGINT
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
